html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #eff0f6;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
}

#app {
  height: 100%;
}

/* // To go to the menu 3.2rem bold
// French Fries 1.8rem
// 4,50 3.2rem bold
// Add to cart bg:6B00F5 fg:ffffff 1.6rem bold h32 padding-rl: 16px */

/* - background color: #EFF0F6
- border color: #d7d6fc
- primary purple: #6B00F5
- Pattens Blue: #e1f0fe
- Ghost White: #f7f7ff
- White Ice: #defef0 */
