.piano {
  width: 100%;
  display: flex;
  padding: 0 2rem;
}

.piano svg {
  width: 100%;
}

.white-keys {
  fill: var(--whiteColor);
}

.white-keys:hover,
.white-keys.piano__key--clicked {
  fill: var(--whiteHoverColor);
}

.black-keys {
  fill: var(--blackColor);
}

.black-keys:hover,
.black-keys.piano__key--clicked {
  fill: var(--blackHoverColor);
}

.piano__key--clicked {
  opacity: 0.9;
}

@media (min-width: 769px) {
  .piano {
    flex: 1;
    padding: 0 10rem;
  }
}
