<link href="components/timer.scss" rel="stylesheet" />

<div class="timer__wrapper" data-timer>
  <div class="timer__wrapper__circle"></div>
  <div class="timer__wrapper__effect"></div>
  <div class="timer">
    <input
      type="number"
      class="timer__input"
      data-minutes
      value="15"
      disabled
      min="0"
      max="60"
    />:<input
      type="number"
      class="timer__input"
      data-seconds
      value="00"
      disabled
      min="0"
      max="60"
    />
  </div>
  <button
    class="timer__button timer__button--action"
    type="button"
    data-button
    data-start="Start"
    data-stop="Stop"
    data-state="Start"
  >
    Start
  </button>
  <div class="timer__settings__icon">
    <button
      class="timer__button timer__button--settings"
      type="button"
      data-settings="close"
    >
      <span data-svg-gear><include src="./src/images/gear.svg"></include></span>
      <span data-svg-check
        ><include src="./src/images/check.svg"></include
      ></span>
    </button>
  </div>
</div>
